{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'StudentView/Index_Style.css' %}" />
    <style>
        .wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 30px;
        }

        .table {
            max-width: 600px;
        }
        .header{
            background-color: #151a0f;
        }
    </style>
</head>

<body>
    <header class="header">
        <h1 class="header-title">Swami Sadguru Nithyananda Institute of Technology</h1>
        <h2>Attendance Portal</h2>
        <h2 style="color: yellow;">Date: <span id="dateSection"></span></h2>
    </header>
    <div class="wrapper">
        <h2 class="section-title">Present students</h2>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 70px;">#</th>
                    <th style="width:100px">Roll</th>
                    <th style="width: 300px;">Name</th>
                </tr>
            </thead>
            <tbody id="presentStudentsTable">

            </tbody>
        </table>
        <br>
        <h2 class="section-title">Absent students</h2>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 70px;">#</th>
                    <th style="width:100px">Roll</th>
                    <th style="width: 300px;">Name</th>
                </tr>
            </thead>
            <tbody id="allStudentsTable">

            </tbody>
        </table>
    </div>

    <script>
        const uriPresentStudents = '/present-students'
        const uriAllStudents = '/all-students'

        let allStudentData
        let presentStudentData
        let absentStudentData

        const presentStudentsTable = document.getElementById('presentStudentsTable')
        const allStudentsTable = document.getElementById('allStudentsTable')

        let today = new Date();
        const dd = String(today.getDate()).padStart(2, '0');
        const mm = String(today.getMonth() + 1).padStart(2, '0');
        const yyyy = today.getFullYear();
        today = dd + '/' +  mm + '/' + yyyy;

        dateSection.innerText = today
        getData()

        async function getData() {

            const responses = await Promise.all([fetch(uriAllStudents), fetch(uriPresentStudents)])

            const data1 = await responses[0].json()
            const data2 = await responses[1].json()

            allStudentData = data1;
            presentStudentData = data2;

            absentStudentData = data1.filter(({ s_roll: id1 }) => !data2.some(({ s_roll: id2 }) => id2 === id1));
            presentStudentUI()
            absentStudentUI()
        }


        const presentStudentUI = () => {
            presentStudentData.forEach((student, index) => {
                const row = createStudentRow(student, index)
                presentStudentsTable.appendChild(row);
            });
        }

        const absentStudentUI = () => {
            absentStudentData.forEach((student, index) => {
                const row = createStudentRow(student, index)
                allStudentsTable.appendChild(row);
            });
        }


        const createStudentRow = (student, index) => {
            const row = document.createElement('tr');

            const rowCountCell = document.createElement('td');
            rowCountCell.textContent = index + 1

            const idCell = document.createElement('td');
            idCell.textContent = student.s_roll;

            const nameCell = document.createElement('td');
            nameCell.textContent = student.s_fname;


            row.appendChild(rowCountCell);
            row.appendChild(idCell);
            row.appendChild(nameCell);
            return row;
        }
    </script>
</body>

</html>